/*  arquivo css (main page) */


p{
	font-family: monospace, "times new roman";
	color: white;
	font-size: 20px;
	 
}

header{
	
	background: blue;
	height: 80px;
	padding: 20px;
	
}

body{
	
	background-color: blue;
}

#h2_header{
	
	color:#FFFFFF;
	font-family: monospace;
	font-size: 30px;
	margin: 0px 0px 0px 250px;
}

#div_1{

	background-color: black ;
	min-height: 545px;
	width: 98%;
	margin: 0px 0px 0px 12px;
}


*{
	
	margin: 0;
	padding: 0 ;
}


footer{
	
	padding: 10px;
	background-color:green;
	height: 32px;
	text-align: center;
}



